{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Change Password</title>


    </head>
    <body>
    <section class="vh-100" style="background-color: #eee;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                      <img src="{% static 'images/book.jpg' %}" class="img-fluid" alt="Sample image">
                    </div>
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                     <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Change Password</p>
                      <form onsubmit="return resetValidate()" action="{% url 'changepassword' %}" method="post" id="logform" name="logform">
                         <span class="login100-form-title"></span>
                            {% csrf_token %}

                              <div class="d-flex flex-row align-items-center mb-4">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                  </svg>
                                  <i class="bi bi-lock-fill"></i>
                                  <div class="form-outline flex-fill mb-0">
                                     <input class="input100" type="password" id="current_password" name="current_password" placeholder="Current Password">
                                     <span class="error-msg" id="crnt-passwd"> </span>
                                     <span class="focus-input100"></span>
                                     <span class="symbol-input100"></span>
                                  </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                  </svg>
                                  <i class="bi bi-lock-fill"></i>
                                  <div class="form-outline flex-fill mb-0">
                                        <input class="input100" type="password" id="new_password" name="new_password" placeholder="New Password">
                                        <span class="error-msg" id="new-passwd"> </span>
                                        <span class="focus-input100"></span>
                                        <span class="symbol-input100"></span>
                                  </div>
                              </div>
                              <div class="d-flex flex-row align-items-center mb-4">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                      </svg>
                                      <i class="bi bi-lock-fill"></i>
                                      <div class="form-outline flex-fill mb-0">
                                          <input class="input100" type="password" id="confirm_password" name="confirm_password" placeholder="Retype Password">
                                          <span class="error-msg" id="confirm-passwd"> </span>
                                          <span class="focus-input100"></span>
                                          <span class="symbol-input100"></span>
                                      </div>
                              </div>
                              <div class="text-center text-lg-start mt-4 pt-2">
                                    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Change Password</button>
                              </div>

                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <script type="text/javascript">
        function resetValidate() {
            var password = document.getElementById('password').value;
            var c_password = document.getElementById('c-password').value;
            var form = document.getElementById('logform');

            const isPasswordSecure = (password) => {
                const re = new RegExp(
                    "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"
                );
                return re.test(password);
            };

            if (password == "") {
                document.getElementById("log-passwd").textContent = "***Please provide password";
                document.getElementById("log-passwd").style.border = "1px solid red";
                document.getElementById("log-passwd").style.color = "red";


                return false;
            } else if (isPasswordSecure(password) == false) {
                document.getElementById("log-passwd").textContent = "***Please provide valid password";
                document.getElementById("log-passwd").style.border = "1px solid red";
                document.getElementById("log-passwd").style.color = "red";

                return false;
            } else if (confirm_password == "") {
                document.getElementById('log-confirm').textContent = "Please enter your confirm password";
                document.getElementById('log-confirm').style.border = "1px solid red";
                document.getElementById("log-confirm").style.color = "red";


                return false;
            } else if (password != confirm_password) {
                document.getElementById('log-confirm').textContent = "Password does not match";
                document.getElementById('log-confirm').style.border = "1px solid red";
                document.getElementById("log-confirm").style.color = "red";

                return false;
            } else {
                // submit forms
                form.submit();
            }
        }
    </script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/slick.min.js' %}"></script>
		<script src="{% static 'js/nouislider.min.js' %}"></script>
		<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
        <div>
                {% for message in messages %}
                {{message}}
                {% endfor %}

        </div>
</body>
</html>






<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--&lt;!&ndash;{% comment %} {% load crispy_forms_tags %}   {% endcomment %}&ndash;&gt;-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Change Password</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

<!--</head>-->
<!--<body>-->

<!-- <section class="vh-100" style="background-color: #eee;">-->
<!--      <div class="container h-100">-->
<!--        <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--          <div class="col-lg-12 col-xl-11">-->
<!--            <div class="card text-black" style="border-radius: 25px;">-->
<!--              <div class="card-body p-md-5">-->
<!--                <div class="row justify-content-center">-->
<!--                  <div class="col-md-9 col-lg-6 col-xl-5">-->
<!--                    <img src="{% static 'images/book.jpg' %}" class="img-fluid" alt="Sample image">-->
<!--                  </div>-->
<!--                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">-->
<!--                <form onsubmit="return resetValidate()" action="{% url 'changepassword' %}" method="post" id="logform" name="logform">-->
<!--                    <span class="login100-form-title">-->
<!--                        Change Password<br>-->
<!--                    </span>-->



<!--                        {% csrf_token %}-->

<!--<br>-->
<!--                    <div class="d-flex flex-row align-items-center mb-4" data-validate = "Password is required">-->
<!--                        <div class="form-outline flex-fill mb-0">-->
<!--                         <input class="input100" type="password" id="current_password" name="current_password" placeholder="Current Password">-->
<!--                         </div>-->
<!--                            <span class="error-msg" id="crnt-passwd"> </span>-->
<!--                            <span class="focus-input100"></span>-->
<!--                            <span class="symbol-input100">-->
<!--                            <i class="fa fa-lock" aria-hidden="true"></i>-->
<!--                        </span>-->
<!--                    </div>-->

<!--                    <div class="d-flex flex-row align-items-center mb-4" data-validate = "Password is required">-->
<!--                        <div class="form-outline flex-fill mb-0">-->
<!--                            <input class="input100" type="password" id="new_password" name="new_password" placeholder="New Password">-->
<!--                        <div>-->
<!--                            <span class="error-msg" id="new-passwd"> </span>-->
<!--                                <span class="focus-input100"></span>-->
<!--                                <span class="symbol-input100">-->
<!--                                    <i class="fa fa-lock" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <div class="d-flex flex-row align-items-center mb-4" data-validate = "Password is required">-->
<!--                        <div class="form-outline flex-fill mb-0">-->
<!--                          <input class="input100" type="password" id="confirm_password" name="confirm_password" placeholder="Retype Password">-->
<!--                        <div>-->
<!--                                <span class="error-msg" id="confirm-passwd"> </span>-->
<!--                                <span class="focus-input100"></span>-->
<!--                                <span class="symbol-input100">-->
<!--                                    <i class="fa fa-lock" aria-hidden="true"></i>-->
<!--                                </span>-->
<!--                    </div>-->
<!--<br>-->
<!--                    <div class="container-login100-form-btn">-->
<!--                        <button class="login100-form-btn">-->
<!--                            Change Password-->
<!--                        </button>-->
<!--                    </div>-->

<!--                 </form>-->
<!--                </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!-- </section>-->

<!--    <script type="text/javascript">-->
<!--        function resetValidate() {-->
<!--            var password = document.getElementById('password').value;-->
<!--            var c_password = document.getElementById('c-password').value;-->
<!--            var form = document.getElementById('logform');-->

<!--            const isPasswordSecure = (password) => {-->
<!--                const re = new RegExp(-->
<!--                    "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"-->
<!--                );-->
<!--                return re.test(password);-->
<!--            };-->

<!--            if (password == "") {-->
<!--                document.getElementById("log-passwd").textContent = "***Please provide password";-->
<!--                document.getElementById("log-passwd").style.border = "1px solid red";-->
<!--                document.getElementById("log-passwd").style.color = "red";-->


<!--                return false;-->
<!--            } else if (isPasswordSecure(password) == false) {-->
<!--                document.getElementById("log-passwd").textContent = "***Please provide valid password";-->
<!--                document.getElementById("log-passwd").style.border = "1px solid red";-->
<!--                document.getElementById("log-passwd").style.color = "red";-->

<!--                return false;-->
<!--            } else if (confirm_password == "") {-->
<!--                document.getElementById('log-confirm').textContent = "Please enter your confirm password";-->
<!--                document.getElementById('log-confirm').style.border = "1px solid red";-->
<!--                document.getElementById("log-confirm").style.color = "red";-->


<!--                return false;-->
<!--            } else if (password != confirm_password) {-->
<!--                document.getElementById('log-confirm').textContent = "Password does not match";-->
<!--                document.getElementById('log-confirm').style.border = "1px solid red";-->
<!--                document.getElementById("log-confirm").style.color = "red";-->

<!--                return false;-->
<!--            } else {-->
<!--                // submit forms-->
<!--                form.submit();-->
<!--            }-->
<!--        }-->
<!--    </script>-->
<!--  <script src="{% static 'js/jquery.min.js' %}"></script>-->
<!--		<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
<!--		<script src="{% static 'js/slick.min.js' %}"></script>-->
<!--		<script src="{% static 'js/nouislider.min.js' %}"></script>-->
<!--		<script src="{% static 'js/jquery.zoom.min.js' %}"></script>-->
<!--		<script src="{% static 'js/main.js' %}"></script>-->
<!--</body>-->
<!--</html>-->